<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="site.css" type="text/css" />
</head>
<body>
    <nav class="navbar navbar-collapse navbar-expand-sm navbar-light bg-success text-white" style="padding-bottom:2px">
        @IsAuthenticatedView
    </nav>
    <hr style="width: 100%; color: green; height: 2px; background-color:green;" />
        @Render.Body()
    <hr style="width: 100%; color: green; height: 2px; background-color:green;" />
    <footer>
        <div class="text-center">
            <strong>CopyRight &copy; Sanity Design Studios. All Rights Reserved.</strong>
        </div>
    </footer>
    <script src="bootstrap.min.js" type="text/javascript"></script>
    <script src="jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="popper.min.js" type="text/javascript"></script>
</body>
</html>