<div class="container offset-md-3 col-md-6 offset-md-3">
    <h1 class="text-center text-success">Create Album</h1>
    <hr style="width:100%; color:green; background-color:green; height:2px" />
    <form action="/Albums/Create" method="post">
        <div class="form-group">
            <label for="AlbumName">Name</label>
            <input type="text" name="albumName" class="form-control" placeholder="Name...">
        </div>
        <div class="form-group">
            <label for="Cover">Cover</label>
            <input type="text" name="albumCover" class="form-control" placeholder="Cover..." />
        </div>
        <div class="form-group">
            <label for="Price">Price</label>
            <input type="text" name="albumPrice" class="form-control" placeholder="Price..." />
        </div>
        <div class="form-group btn-toolbar justify-content-around">
            <button class="btn btn-success" type="submit">Create</button>
            <a class="btn btn-success" href="/Albums/All" role="button">Back To All</a>
        </div>
    </form>
</div>