<h1>Hello World</h1>
<h2>Enjoy our awesome cakes</h2>
<hr />
<body>
    <ul>
        <li>
            <a href="/">Home</a>
            <ol>
                <li>
                    <a href="/ourCakes">Our Cakes</a>
                </li>
                <li>
                    <a href="/ourStores">Our Stores</a>
                </li>
            </ol>
        </li>
        <li><a href="/myProfile">My Profile</a></li>
        <li><a href="/addCake">Add Cake</a></li>
        <li><a href="/search">Browse Cakes</a></li>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Log Out</a></li>
        <li><p><a href="/register">Register</a></p></li>
    </ul>
</body>