<h1>Hello World</h1>
<h2>Enjoy our awesome cakes</h2>
<hr />
<ul class="list-group">
    <li class="list-group-item">
        <a href="/Home/Index">Home</a>
        <ol class="list-group">
            <li class="list-group-item">
                <a href="/Home/OurCakes">Our Cakes</a>
            </li>
            <li class="list-group-item">
                <a href="/Home/OurStores">Our Stores</a>
            </li>
        </ol>
    </li>
    <li class="list-group-item"><a href="/Users/Details">My Profile</a></li>
    <li class="list-group-item"><a href="/Cakes/AddCake">Add Cake</a></li>
    <li class="list-group-item"><a href="/Cakes/Search">Browse Cakes</a></li>
    <li class="list-group-item"><a href="/Users/Logout">Log Out</a></li>
</ul>
<hr />
<a href="/Home/AboutUs">About Us</a>