<a href="/">Back to home</a>
<form action="/Cakes/Search" method="post">
    <p>
        <input type="text" name="searchField" />
        <input type="submit" value="Search" />
    </p>
</form>
<form action="/Orders/AddToCart" method="post">
    @if(false)
    {
        @foreach(var cake in Model.CakesList)
        {
            <p><a href="/Cakes/Details?id=@cake.CakeId">@cake.CakeName</a> $@cake.CakePrice <input type="submit" value="Order" /></p>
        }
    }
    @else
    {
        <p>There are currently no searched cakes.</p>
    }
</form>
